@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-indigo-50: #f5f7ff;
  --color-indigo-100: #ebf0fe;
  --color-indigo-200: #ced9fd;
  --color-indigo-300: #a1b6fb;
  --color-indigo-400: #6d89f7;
  --color-indigo-500: #465ef1;
  --color-indigo-600: #2f3ee4;
  --color-indigo-700: #2630c8;
  --color-indigo-800: #2429a2;
  --color-indigo-900: #222781;
  --color-indigo-950: #14164d;
}

@layer base {
  body {
    @apply font-sans text-slate-900 antialiased;
  }
}

.prose h2 {
  @apply text-slate-900 font-bold mt-8 mb-4;
}

.prose p {
  @apply mb-4 leading-relaxed;
}
