@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Playfair+Display:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

body {
  font-family: var(--font-sans);
  @apply text-gray-800;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
