name: Deploy Website

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Select branch to deploy"
        required: true
        default: "main"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            BRANCH=${{ github.event.inputs.branch }}

            echo "Deploying branch: $BRANCH"

            cd /home/ubuntu/200-TechSalesite

            mkdir -p $BRANCH
            cd $BRANCH

            if [ ! -d ".git" ]; then
              git clone -b $BRANCH https://github.com/consultancy-outfit/100IT-SALESITES-001.git .
            else
              git fetch origin
              git checkout $BRANCH
              git pull origin $BRANCH
            fi

            docker compose down
            docker compose up -d --build